<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="https://s.pinimg.com/webapp/favicon-22eb868c.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="content">
            <!--pinterest logo-->
            <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
                class="img1" />
            <p class="header">Welcome to Pinterest</p>

            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username" class="detail" /><br />
                <input type="password" name="password" placeholder="Password" class="detail" />
                <input type="submit" class="btn int" value="Login">
            </form>

            <a href="/forgot" style="text-decoration: none;">Forgot your password?</a>

            <footer>
                <p>
                    By continuing, you agree to Pinterest's
                    <b>Terms of Service, Privacy policy.</b>
                </p>
                <hr style="margin-bottom: 10px;">
                <a href="/" style="text-decoration: none;">New to Pinterest? Sign up</p>
            </footer>
        </div>
    </div>

</body>

</html>